
<div>
    <div class="form-group d-flex">
        <input type="text" class="search mr-2" name="icon" placeholder="search..." />
        <div class="btn-group btn-filter">
            <button value="" class="btn btn-secondary">All</button>
            <button value="filled" class="btn">Filled</button>
            <button value="outlined" class="btn">Outlined</button>
        </div>
    </div>
</div>
